<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../src/public/css/style.css">
  <title>Document</title>
</head>
<body>
   <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                     <li>
                        <button id="cartButton">🛒</button>
                     </li>
                 </ul>
            </div>
 <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
        <div class="user-data">
          <h1 class="color1" >Bienvenido, {{user.full_name}} {{user.first_name}}</h1>
          <p class="color2">Tu correo electrónico es: {{user.email}}</p>
          <p class="color2">Tu rol es: {{user.role}}</p>
          
        </div>
        <div class="mb-3">
      <div class="color1" >
        <a href="/restore">
        <button class="botons">Cambiar clave</button>
        </a>
   </div>
      </div>
      <form action="/api/sessions/logout" method="POST" class="col-md-4 offset-md-4">
        <button type="submit" class="botons">Cerrar Sesión</button>
      </form>
      </div>
    </div>
</div>
</body>

</html>
    </div>
</div>