<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/public/css/style.css">
  <title>Productos en tiempo real</title>
</head>
<body>
   <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                     <li>
                        <button id="cartButton">🛒</button>
                     </li>
                 </ul>
            </div>
  <div class="container">
    <div class="formulario">
      <form action="/api/sessions/reset-password/{{token}}" method="POST">
  <input type="hidden" name="token" value="{{token}}">
  <label for="password">Nueva Contraseña:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <button type="submit">Restablecer Contraseña</button>
       </form>
    </div>
  </div>
</body>
</html>